Ejercicios XSD/414/414.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="nota">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="para"/>
                <xs:element name="de"/>
                <xs:element name="titulo"/> 
                <xs:element name="contenido"/>
            </xs:sequence>
        </xs:complexType>
        
    </xs:element>
</xs:schema>
